<div class="card">
    <div class="card-header">
        <h1>{{title}}</h1>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="col-2">PCode:</label>
            <input class="col-4" type="text" [ngModel]="pcodeCurent.pcode" (ngModelChange)="pcodeChanged($event)">
        </div>
        <div class="form-group">
            <label class="col-2">Description:</label>
            <input class="col-4" type="text" [ngModel]="pcodeCurent.description" (ngModelChange)="descriptionChanged($event)">
        </div>
        <div class="form-group">
            <label class="col-2">Pcode Type:</label>

            <div class="pcodeTypeDiv" *ngIf="pcodeTypeDisplay">
                <select class="select" [ngModel]="pcodeCurent.pcodeTypeId" (ngModelChange)="pcodeTypeIdChanged($event)"> 
                    <option *ngFor="let pcodeType of pcodemaster?.pCodeTypes" value="{{pcodeType.id}}">{{pcodeType.type}}</option>
                </select>

                <a (click)="pcodeTypeToggle()">
                    <i class="fas fas-group fa-plus-square" ></i> 
                </a>
            </div>

            <div class="pcodeTypeDiv" *ngIf="!pcodeTypeDisplay">
                <input class="col-4" type="text" [(ngModel)]="pcodeTypeDefault">

                <a (click)="pcodeTypeAdd()">
                    <i class="fas fas-group fa-check"></i> 
                </a>

                <a (click)="pcodeTypeCancel()">
                    <i class="fa fa-group fa-window-close" aria-hidden="true"></i> 
                </a>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-save" [disabled]="isSaveDisabled" (click)="save()">
            Save
        </button>
        <button class="btn" (click)="cancel()">
            Cancel
        </button>        
    </div>
</div>