/* You can add global styles to this file, and also import other style files */

body
{
    background: #999;
    color: #666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav
{
    padding-left: 0;
    padding-right: 0;    
}

.greenBorderBot
{
    border-bottom: 5px solid rgb(32, 202, 83);
}

.hideMain
{
    pointer-events: none;
    opacity: 0.5;
}

.btn
{
    width: 175px;
    margin-left: 1em;
    background: #666;
    color: #fff;
    font-weight: 600;
    transition: .5s;
}

.btn:hover
{
    color: #fff;
}

h1
{
    font-size: 32px;
    color: #444;
}

a
{
    cursor: pointer;
}

thead
{
    font-size: 24px;
    color: #444;
}

.card
{
    margin-bottom: 2em;

    border: 5px solid #666;
    border-radius: 25px;
}

.tdRight
{
    text-align: right;
}

.fas
{
    font-size: 48px;    
    color: #666;
    transition: .5s;
}

.far, .fa
{
    font-size: 24px;
    color: #666;
    transition: .5s;

    margin-left: 25px;
    margin-right: 10px;     
}

.fas-group
{
    font-size: 30px;
    position: relative;
    left: 25px;
    top: 4px;
}

.fa-group
{
    font-size: 30px;
    position: relative;
    left: 15px;
    top: 4px;
}

a:hover .fas, a:hover .far
{
    color: rgb(32, 202, 83);
}

a:hover .fa
{
    color: rgb(255, 10, 10);
}

.lstPcode
{
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    background: #666;
}

.pcodeIn
{
    border: 1px solid rgb(32, 202, 83);
    border-radius: 4px;
    background: rgb(32, 202, 83) !important;
    font-weight: bold;
}

.pcodeOut
{
    opacity: 0.75;
    border: 1px solid orangered;
    border-radius: 4px;
    background: orangered !important;
}

.groupPcodesDiv
{
    display: inline;
}

.pcodeTypeDiv
{
    display: inline;
}

.tdLst
{
    width: 75%;
}

.spanLst
{
    display: inline-block;
    padding: 4px;
    margin: 4px;    
}

.groupPcodesYN
{
    margin-left: 45%;
}

.btn-collapse
{
    position: absolute;
    top: 15px;
    right: 15px;
}

.btn-save
{
    background: orangered;
}

.select
{
    height: 30px;;
}






