<div class="card">
    <div class="card-header">
        <h1>{{title}}</h1>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="col-2">Profile Group:</label>
            <input class="col-4" type="text" [ngModel]="profileGroupCurent.group" (ngModelChange)="profileGroupChanged($event)">
        </div>
        <div class="form-group">
            <label class="col-2">Description:</label>
            <input class="col-4" type="text" [ngModel]="profileGroupCurent.groupDescription" (ngModelChange)="descriptionChanged($event)">
        </div>
        <div class="form-group">
            <label class="col-2">Pcodes:</label>
            
            <div class="groupPcodesDiv" *ngIf="groupPcodesDisplay">
                    <span class="lstPcode" *ngFor="let profile of profileGroupCurent.profiles" data-toggle="tooltip" data-placement="top" title="{{profile.description}}">{{profile.profilePcode}}</span>

                    <a (click)="groupAddPcodesToggle()">
                        <i class="fas fa-plus-square" ></i> 
                    </a>
            </div>

            <div class="groupPcodesDiv" *ngIf="!groupPcodesDisplay">
                <table class="groupPcodesDiv table">
                        <tr *ngFor="let type of pcodemaster?.pCodeTypes">
                            <td>{{type.type}}</td>
                            <td class="tdLst">
                                <span class="spanLst" *ngFor="let pcode of pcodemaster?.pCodes | groupPcodesFilter:type.id">
                                    <a (click)="togglePcodeInGroup(pcode.id)">
                                        <span [ngClass]="pcodeInGroup(pcode.id) ? 'pcodeIn' : 'pcodeOut'">{{pcode.pcode}}</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                </table>                    
            </div>

            <div class="groupPcodesYN" *ngIf="!groupPcodesDisplay">
                <a (click)="groupPcodesAdd()">
                    <i class="fas fa-check"></i> 
                </a>

                <a (click)="groupPcodesCancel()">
                    <i class="fa fa-window-close" aria-hidden="true"></i> 
                </a>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-save" [disabled]="isSaveDisabled" (click)="save()">
            Save
        </button>
        <button class="btn" (click)="cancel()">
            Cancel
        </button>        
    </div>
</div>