<div [ngClass]="customModalDisplay ? 'hideMain' : ''">
    <table-wrapper>
        <div header>Profiles</div>
        <div body>
            <table class="table mb-0">
                <thead class="header">
                    <th>PCode</th>
                    <th>Type</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr *ngFor="let profile of profilemaster?.profiles | profileOrder">
                        <td>{{profile.profilePcode}}</td>
                        <td>{{getType(profile.profileType)}}</td>
                        <td>{{profile.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div footer>
            <a (click)="ProfileAdd()">
                <i class="fas fa-plus-square" ></i> 
            </a>
        </div>
    </table-wrapper>

    <table-wrapper>
        <div header>Groups (Lookups)</div>
        <div body>
            <table class="table mb-0">
                <thead>
                    <th>Group</th>
                    <th>Description</th>
                    <th>Pcodes</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let group of profilemaster?.profileGroups">
                        <td>{{group.group}}</td>
                        <td>{{group.groupDescription}}</td>
                        <td>
                            <span class="lstPcode" *ngFor="let pcode of group.profiles" data-toggle="tooltip" data-placement="top" title="{{pcode.description}}">{{pcode.profilePcode}}</span>
                        </td>
                        <td class="tdRight">
                            <a (click)="GroupEdit(group.id)">
                                <i class="far fa-edit"></i>
                            </a>
                            <a (click)="GroupDelete(group.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div footer>
            <a (click)="GroupAdd()">
                <i class="fas fa-plus-square" ></i> 
            </a>
        </div>
    </table-wrapper>
</div>


<custom-confirm *ngIf="customModalDisplay" [title]="confirmTitle" [body]="confirmBody" [data]="confirmData" (customConfirmEvent)="handleCustomConfirm($event)"></custom-confirm>