.customModal {
    position:fixed;
    top: 25%;
    left: 50%;
    width:30em;
    height: auto;
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: white;
    border-radius: 25px;
}

.modal-header
{
    border-radius: 25px 25px 0px 0px;
    background: #999;
    color: #fff;
}

.modal-footer
{
    border-radius: 0px 0px 25px 25px;
    background: #999;
}

.btnConfirm, .btnCancel, .xCancel
{
    transition: 0.5s;
}

.btnConfirm:hover
{
    background: rgb(32, 202, 83);
}

.btnCancel:hover
{
    background: red;
}

.xCancel:hover
{
    color: red;
}

