<div class="customModal">
    <div class="modal-header">
    <h1 class="modal-title" id="modal-title">{{title}}</h1>
    <button type="button" class="close xCancel" aria-label="Close button" aria-describedby="modal-title" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <p><strong>{{body}}</strong></p>
    <span class="text-danger">This operation can not be undone.</span>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btnCancel" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btnConfirm" (click)="confirm()">Ok</button>
    </div>
</div>