<div class="card">
    <div class="card-header">
        <h1>
            <ng-content select="[header]"></ng-content>
        </h1>
        <button class="btn btn-collapse" (click)="displayToggle()">
            {{display}}
        </button>
    </div>
    <div *ngIf="display == 'Hide'">
        <div class="card-body">
                <ng-content select="[body]"></ng-content>
        </div>
        <div class="card-footer">
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
</div>