<div class="nav navbar">
    <ul class="greenBorderBot">    
    <li><a [routerLink]="['/profile']" routerLinkActive="active">Profile</a></li>
    <li><a [routerLink]="['/pcode']" routerLinkActive="active">PCodes</a></li>
    <li><a [routerLink]="['/drainage']" routerLinkActive="active">Drainage</a></li>
    <li><a [routerLink]="['/routering']" routerLinkActive="active">Routering</a></li>
    <li><a [routerLink]="['/testing']" routerLinkActive="active">Testing</a></li>
    </ul>
</div>