  .nav {
    width: 100%;
    padding-bottom: 2em;  
  }

  .nav ul {
    width: 100%;    
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 25px;    
  }

  .nav li {
    border-bottom: none;
    width: calc(100%/5);
    display: inline-block;
    background: #666;
    height: 50px;
    line-height: 50px;
    font-size: 1.6em;
    font-weight: 700;   
    z-index: 4;
  }

  .nav li:first-child, .nav li:first-child a
  {
    border-radius: 25px 0px 0px 25px;
  }

  .nav li:last-child, .nav li:last-child a
  {
    border-radius: 0px 25px 25px 0px;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .5s;
  }
   
  .nav a:hover {
    background-color: rgb(32, 202, 83);
  }
   
  .nav a.active {
    background: #fff;
    color: #666;
    cursor: default;
    z-index: 3;
  }  
